@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-area{
  background-color: #f6f6f6;
  background-image: url("https://framerusercontent.com/images/BByKiThYR6TZVIEQlbwxH7IWUwY.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}
.ankor{
  background-color: #1a5eff;
  height: 45px;
  width: 121px;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
}

/* scrooll-image */


/* .scroller {
  max-width: 600px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */


/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}
.content:hover p{
  color: white;
  transform: translateY(-4px);
  transition: 0.5s;
}
.content:hover{
  transition: 0.5s;

}
.input-icon input{
  color: #1a5eff;
}